{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container text-center">
        <header>
            <h2>Login</h2>
        </header>
        <div>
            <form action="{% url 'authorization' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="button" class="btn btn-link btn-sm"><a href="{% url 'registration' %}">Sing Up</a></button>
                <button type="submit" class="btn btn-secondary" >Login</button>
            </form>
        </div>
    </div>
{% endblock %}